<style>
  .nav-link{
    color:rgba(red, green, blue, alpha)!important;
  }
</style>
 
 
 <nav class="navbar navbar-dark  fixed-top" style="background-color:rgb(207, 56, 56);">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Logo</a>  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel" style="background-color:rgb(204, 48, 48); width:20%;">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><b>Hello User</b></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user_home/">

              <i class="fas fa-home"></i> Home</a>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/feedback/">FeedBack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user_advisors/">Advisors</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/upload_document/">upload document</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user_edit_profile/">Edit Profile</a>
                </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user_logout/">Logout</a>
          </li>
          <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>Dropdown</b>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Link1</a></li>
                    <li><a class="dropdown-item" href="#">Link2</a></li>
                    <li><a class="dropdown-item" href="#">Link3</a></li>
                    <li><a class="dropdown-item" href="#">Link4</a></li>
                    
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    
                  </ul>
                </li> -->
        </ul>
        <!--  <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form> -->
      </div>
    </div>
  </div>
</nav>