<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Document</title>
    {% include 'legal_app/common/common_css.html' %}
</head>

<body>
    <!-- navbar start -->
    {% include 'legal_app/advisor/advisor_header.html' %}
    <!-- navbar ends -->
    <div class="main-div">
        <h1 style="text-align: center;">User Documents</h1>
        <table class="table table-danger" style="margin-top: 100px;">
            <thead>
                <tr>
                    <th scope="col"> User Name</th>
                    <th scope="col">User Phone Number</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Document Title</th>
                    <th scope="col">Document File</th>
                </tr>
            </thead>
            <tbody>

                {% for d in doc_key%}
                <tr>

                    <th>{{d.user.name}}</th>
                    <th>{{d.user.phone}}</th>
                    <th>{{d.user.email}}</th>
                    <th>{{d.document_name}}</th>
                    <th><a href="/media/{{d.document_pic}}">{{d.document_name}}</a></th>

                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <!-- footer code -->
    {% include 'legal_app/common/footer.html' %}
    <!-- footer code ends -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

</body>

</html>